body{
    background-color: wheat;
}

.inputs{
    float: left;

    border : 3px solid maroon ;
    background-color :skyblue ;
    padding: 10px;
}

.canvas{
    float: left;
    width: 50%;
    margin-bottom: 100px;
}

