body{
    background-color: wheat;
}


.canvas{
    float: left;
    width: 50%;

}

.inputs{
    float: right;

    border : 3px solid maroon ;
    background-color :skyblue ;
    padding: 10px;
    overflow: auto;
}


